---
- name: "Debian | Add opensearch apt signing key"
  ansible.builtin.get_url:
    url: https://artifacts.opensearch.org/publickeys/opensearch.pgp
    dest: /usr/share/keyrings/opensearch-keyring
    mode: '0644'
    force: true

- name: "Debian | Add opensearch repo"
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/opensearch-keyring] https://artifacts.opensearch.org/releases/bundle/opensearch/2.x/apt stable main"
    state: present
    filename: opensearch

- name: "Debian | Install opensearch package"
  ansible.builtin.package:
    name: "opensearch"
    state: present
    update_cache: 'yes'
  register: __pkg_result
  retries: 12
  delay: 10
  until: __pkg_result is success
  environment:
    OPENSEARCH_INITIAL_ADMIN_PASSWORD: "{{ opensearch_admin_password }}"

- name: "Config opensearch.yml"
  ansible.builtin.template:
    src: opensearch.yml.j2
    dest: "{{ opensearch_config_dir }}/opensearch.yml"
    owner: "{{ opensearch_user }}"
    group: "{{ opensearch_user }}"
    mode: 0600
  notify: "Restart opensearch"

- name: "Config jvm.options"
  ansible.builtin.template:
    src: jvm.options.j2
    dest: "{{ opensearch_config_dir }}/jvm.options"
    owner: "{{ opensearch_user }}"
    group: "{{ opensearch_user }}"
    mode: 0600
  notify: "Restart opensearch"

    #- name: "Create systemd service"
    #  ansible.builtin.template:
    #    src: opensearch.service.j2
    #    dest: "/etc/systemd/system/opensearch.service"
    #  notify: "Restart opensearch"

- name: "Enable and Start opensearch"
  ansible.builtin.service:
    name: opensearch
    state: started
    enabled: true
    daemon_reload: true
